<a href="https://colab.research.google.com/github/dlwodud04/ai-mathematics/blob/main/23-03-14/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5%EC%88%98%ED%95%99type()%2Cint()%2Clen()%2Cstr()%2Clist().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [10,20,30]
b = (10,20,30)
c = {"Kim" : 10, "Lee" : 20}
d = 'Korea, Japan'

print(type(a), type(b), type(c), type(d))

print(len(a),len(b),len(c),len(d))

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'>
3 3 2 12

In [2]:
a = (10,20,30,40,50)
print(list(a))

b = 'AI'
print(list(b))

[10, 20, 30, 40, 50]
['A', 'I']

In [6]:
int(1.5)

1